@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
  margin: 0;
  flex-wrap: wrap;
}

h3 {
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.card-container {
  background-color: #353b48;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding-top: 30px;
  width: 350px;
  max-width: 100%;
  color: #b3b8cd;
  text-align: center;
  position: relative;
}

.pro {
  color: #231e39;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  padding: 3px 7px;
  border-radius: 5px;
  top: 10px;
  left: 10px;
}
.online {
  background-color: greenyellow;
}
.offline {
  background-color: rgb(255, 100, 100);
}

.img {
  border: 3px solid #ffffff;
  border-radius: 50%;
  padding: 7px;
  width: 100px;
  height: 100px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button.primary {
  background-color: #0984e3;
  border: 1px solid #0984e3;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 25px;
  cursor: pointer;
}

button.primary.outline {
  background-color: transparent;
  border: 2px solid #0984e3;
}

button.primary.outline:hover {
  background-color: #0984e3;
  color: #ffffff;
}

.skills {
  background-color: #2f3640;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
}

.skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.skills ul li {
  display: inline-block;
  padding: 0 10px;
  margin: 0 10px 10px 0;
  border-radius: 3px;
  border: 1px solid #595180;
  font-size: 12px;
}